<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ftpl.moneymanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".act_list_item_child" />
        <activity
            android:name=".act_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".act_income"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".act_expence"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="moneymanagement.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.ftpl.moneymanagement.expence" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.ftpl.moneymanagement"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>